body{
    height: 100vh;
    /*background-image: linear-gradient(cornsilk, burlywood);*/
    background-color: cornsilk;
}

#startPageTitle, #startWelcomeMessage, #accountPageTitle{
    flex-basis: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#startPageTitle, #accountPageTitle{
    font-size: 3vw;
}

#startWelcomeMessage{
    font-size: 2vw;
}

#startPage, #presentation{
    display: flex;
    margin:0;
    padding:0;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.userButtons{
    cursor: pointer;
    border: none;
    padding: 0.5vh;
    margin: 0.5vh;
    font-size: 1.5vw;
    background-color: black;
    color: burlywood;
}

#startPage input, #userPage input{
    margin: 0.5vh;
    font-size: 1.5vw;
    border: 2px solid black;
}

#startPage h3, #userPage h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5vw;
}

.start{
    display: flex;
    margin: 2vw;
    padding: 3vw 5vw;
    justify-content: center;
    flex-direction: column;
    border: 0.3vw dashed burlywood;
    border-radius: 0.5vw;
    height: 50vh;
    width: 25vw;
}

#userPage h3, #userPage label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
}

#userPage{
    display: flex;
    margin:0;
    padding:0;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}

.userEdit{
    display: flex;
    margin: 0 2vw;
    padding: 0 5vw;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    width: 25vw;
}

#btnUpdate{
    margin: 2vw 0;
}

#logout{
    float: right;
}

#overview{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#presContainer{
    display: flex;
    margin:0;
    padding:0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}

#overview>h1{
    flex-basis: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    background-color: #24252a;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.cta {
    color: rgb(26, 26, 26)
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: cornsilk;
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(250, 250, 220, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(250, 250, 220, 0.8);
}

.menu {
    display: none;
  }

@media screen and (max-width: 500px){

    .start, .userEdit{
        width: 60vw;
        height: 60vh;
    }
    #startPage h3, #startPage input, #userPage input, #userPage h3, #userPage label{
        font-size: 5vw;
    }
    #startPageTitle, #accountPageTitle{
        font-size: 6vw;
    }
    .userButtons{
        font-size: 5vw;
    }
} 