.slideA-container{
    display:flex;
    background-color: rgb(35, 80, 82);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7vw;
    text-align: center;
    width: 60vw;
    height: 60vh;
}

.slidaA-container input{
    align-self: center;
    background-color: rgb(35, 80, 82);
    text-align: center;
    justify-self: center;
    color: white;
}
